{% extends 'index.html' %}

{% block title %}
    - Home
{% endblock %}

{% block that %}
<a href="/user_about" class="button">About</a>
<a href="/user_contact" class="button">Contact</a>
{% endblock %}

{% block this %}
    <a href="/logout" class="logout-button">Logout</a>
{% endblock %}

{% block guest %}
    <h1>Hello, {{ username }}!</h1>
{% endblock %}

{% block quoter %}
<div class="dash_content">
    <a href="/get_quote" class="quote-button">Get a Quote</a>
</div>
{% endblock %}

{% block content %}
<!-- Add dashboard content here -->
{% endblock %}