{% extends 'index.html' %}

{% block that %}
<a href="/about" class="button">About</a>
<a href="/contact" class="button">Contact</a>
{% endblock %}

{% block this %}
    <a href="/register" class="button">Register</a>
    <a href="/login" class="button">Login</a>
{% endblock %}

{% block quoter %}
<h1>Get Guest Quote</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="/get_guest_quote" onsubmit="return validateForm()">
    <label for="guest_email">Email:</label>
    <input type="email" placeholder="name@example.com" id="guest_email" name="guest_email" class="input-field" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"><br>

    <label for="gtruck">Truck:</label>
    <select id="gtruck" name="gtruck" class="input-field" required>
      <option value="" disabled selected>--Select</option>
        <option value="Freightliner">Freightliner</option>
        <option value="International">International</option>
        <option value="Ford">Ford</option>
        <option value="Isuzu">Isuzu</option>

        <!-- Add more options as needed -->
    </select><br>    

    <label for="gmiles">Miles:</label>
    <input type="number" placeholder="aprox. mi" id="gmiles" name="gmiles" class="input-field" required><br>

    <label for="gweight">Weight:</label>
    <input type="number" placeholder="aprox. lbs" id="gweight" name="gweight" class="input-field" required><br>

    <input type="submit" class="submit-button" value="Get 1 FREE Quote">
  </form>

  <script>
    function validateForm() {
      // Get form inputs
      var guestEmailInput = document.getElementById('guest_email');
      var gtruckInput = document.getElementById('gtruck');
      var gmilesInput = document.getElementById('gmiles');
      var gweightInput = document.getElementById('gweight');

      // Validate email format
      var emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
      if (!emailRegex.test(guestEmailInput.value)) {
        alert('Invalid email format');
        return false;
      }

      // Validate other fields (e.g., not empty)
      if (gtruckInput.value.trim() === '' || gmilesInput.value.trim() === '' || gweightInput.value.trim() === '') {
        alert('All fields are required');
        return false;
      }

      return render_template('guest_quote.html'); // Allow form submission
    }
  </script>
{% endblock %}
