{% extends 'index.html' %}

{% block title %}
    - Home
{% endblock %}

{% block that %}
<a href="/about" class="button">About</a>
<a href="/contact" class="button">Contact</a>
{% endblock %}

{% block this %}
    <a href="/register" class="button">Register</a>
    <a href="/login" class="button">Login</a>
{% endblock %}

{% block guest %}
    <h1>Welcome to the Stylish Home Page</h1>
    <p>Discover more about our company and services.</p>
{% endblock %}
{% block quoter %}
    <a href="/get_guest_quote" class="quote-button">Get a FREE Quote</a>
{% endblock %}