<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial=scale=1, width=device-width">
    <title>Truck Transport {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="button-group">
            {% block that %}
            {% endblock %}
        </div>
        <div class="button-group center">
            <a href="/" class="button">Truck Transport Name</a>
        </div>
        <div class="button-group right">
            {% block this %}
            {% endblock %}
        </div>
    </header>

    <div class="content">
        {% block guest %}
        {% endblock %}
    </div>
    <div class="content">
        {% block quoter %}
        {% endblock %}
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
