{% extends 'index.html' %}

{% block that %}
<a href="/about" class="button">About</a>
<a href="/contact" class="button">Contact</a>
{% endblock %}

{% block this %}
<a href="/get_guest_quote" class="quote-button">Get a FREE Quote</a>
{% endblock %}

{% block guest %}
<h1>Contact Us</h1>
{% endblock %}

{% block quoter %}
<form method="POST" action="/submit_contact">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required class="input-field"><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required class="input-field"><br>
  <div class="mb-3">
    <label for="message" class="form-label">Message:</label>
  </div>
  <div class="mb-3">
    <textarea style="width: 300px; height: 150px;" id="message" name="message" required></textarea><br>
  </div>
  <input type="submit" value="Submit" class="submit-button">
</form>
{% endblock %}
