{% extends 'index.html' %}

{% block that %}
<a href="/user_about" class="button">About</a>
<a href="/user_contact" class="button">Contact</a>
{% endblock %}

{% block this %}
    <a href="/logout" class="logout-button">Logout</a>
{% endblock %}

{% block quoter %}
<h1>Get Quote</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="/get_quote" onsubmit="return validateForm()">
    <label for="truck">Truck:</label>
    <select id="truck" name="truck" class="input-field" required>
      <option value="" disabled selected>--Select</option>
        <option value="Freightliner">Freightliner</option>
        <option value="International">International</option>
        <option value="Ford">Ford</option>
        <option value="Isuzu">Isuzu</option>

        <!-- Add more options as needed -->
    </select><br>    

    <label for="miles">Miles:</label>
    <input type="number" id="miles" name="miles" class="input-field" required><br>

    <label for="weight">Weight:</label>
    <input type="number" id="weight" name="weight" class="input-field" required><br>

    <input type="submit" class="submit-button" value="Get Quote">
  </form>

  <script>
    function validateForm() {
      // Get form inputs
      var guestEmailInput = document.getElementById('email');
      var gtruckInput = document.getElementById('truck');
      var gmilesInput = document.getElementById('miles');
      var gweightInput = document.getElementById('weight');

      // Validate email format
      var emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
      if (!emailRegex.test(guestEmailInput.value)) {
        alert('Invalid email format');
        return false;
      }

      // Validate other fields (e.g., not empty)
      if (gtruckInput.value.trim() === '' || gmilesInput.value.trim() === '' || gweightInput.value.trim() === '') {
        alert('All fields are required');
        return false;
      }

      return render_template('guest_quote.html'); // Allow form submission
    }
  </script>
{% endblock %}
