{% extends 'index.html' %}

{% block title %}
    - Login
{% endblock %}

{% block that %}
<a href="/about" class="button">About</a>
<a href="/contact" class="button">Contact</a>
{% endblock %}

{% block this %}
    <a href="/register" class="button">Register</a>
{% endblock %}

{% block guest %}
    <h2>Login</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username" required class="input-field"><br>
        <input type="password" name="password" placeholder="Password" required class="input-field"><br>
        <input type="submit" value="Login" class="submit-button">
    </form>
{% endblock %}
