{% extends 'index.html' %}

{% block this %}
    <a href="/logout" class="logout-button">Logout</a>
{% endblock %}

{% block guest %}
  <h1 class="quote-title">Quote</h1>
{% endblock %}

{% block quoter %}
  <div class="quote-details">
    <p class="quote-item"><strong>User:</strong> {{ username }}</p>
    <p class="quote-item"><strong>Miles:</strong> {{ miles }} mi.</p>
    <p class="quote-item"><strong>Truck:</strong> {{ truck }}</p>
    <p class="quote-item"><strong>Price per Mile:</strong> ${{ price_per_mile }}</p>
    <p class="quote-item"><strong>Weight:</strong> {{ weight }} lb(s)</p>
    <p class="quote-item"><strong>Price per Pound:</strong> ${{ price_per_pound }}</p>
  </div>
  <div>
    <p class="quote-total"><strong>Total Price:</strong> ${{ total_price }}</p>
  </div>
{% endblock %}

{% block content %}
  <div>
    <a href="/" class="button">Order Now</a>
    <a href="/get_quote" class="quote-button">Get New Quote</a>
  </div>
{% endblock %}