{% extends 'index.html' %}

{% block this %}
    <a href="/login" class="button">Login</a>
{% endblock %}

{% block that %}
<a href="/about" class="button">About</a>
<a href="/contact" class="button">Contact</a>
{% endblock %}

{% block guest %}
    <h1>Welcome to the Stylish Home Page</h1>
    <p>Discover more about our company and services.</p>
{% endblock %}

{% block quoter %}
<h2>Register</h2>
{% endblock %}

{% block content %}
    
    <form method="post" action="/register">
        <input type="text" id="username" name="username" placeholder="Username" required class="input-field"><br>
        <input type="password" id="password" name="password" placeholder="Password" required class="input-field"><br>
        <input type="text" id="email" name="email" placeholder="Email" required class="input-field"><br>
        <input type="INTEGER" id="lic" name="lic" placeholder="License #" required class="input-field"><br>
        <input type="submit" value="Register" class="submit-button">
    </form>
{% endblock %}
